<!--<header *ngIf="validRoute && type == ''">
    <a routerLink="/"><img src="images/Logo final.png" class="logo"></a>
    <app-button etiqueta="Iniciar" link="/login"></app-button>
</header>-->

<!--Navbar Cliente-->
<canvas id="particle-canvas-circle" *ngIf="validRoute"></canvas>
<header *ngIf="validRoute && !isAdmin">
    <ul>
        <li [class.active]="isActive('productos')">
            <a routerLink="/productos">
                <span *ngIf="!isMobile && !isTablet">Productos</span>
                <span *ngIf="isMobile || isTablet" class="nav-icon material-symbols-rounded">shopping_bag</span>
            </a>
        </li>
        <li *ngIf="!isMobile && !isTablet">|</li>
        <li [class.active]="isActive('favoritos')">
            <a routerLink="/favoritos" class="favoritos-link">
                <span *ngIf="!isMobile && !isTablet">Favoritos</span>
                <span *ngIf="isMobile || isTablet" class="nav-icon" id="star"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-stars" viewBox="0 0 16 16">
  <path d="M7.657 6.247c.11-.33.576-.33.686 0l.645 1.937a2.89 2.89 0 0 0 1.829 1.828l1.936.645c.33.11.33.576 0 .686l-1.937.645a2.89 2.89 0 0 0-1.828 1.829l-.645 1.936a.361.361 0 0 1-.686 0l-.645-1.937a2.89 2.89 0 0 0-1.828-1.828l-1.937-.645a.361.361 0 0 1 0-.686l1.937-.645a2.89 2.89 0 0 0 1.828-1.828zM3.794 1.148a.217.217 0 0 1 .412 0l.387 1.162c.173.518.579.924 1.097 1.097l1.162.387a.217.217 0 0 1 0 .412l-1.162.387A1.73 1.73 0 0 0 4.593 5.69l-.387 1.162a.217.217 0 0 1-.412 0L3.407 5.69A1.73 1.73 0 0 0 2.31 4.593l-1.162-.387a.217.217 0 0 1 0-.412l1.162-.387A1.73 1.73 0 0 0 3.407 2.31zM10.863.099a.145.145 0 0 1 .274 0l.258.774c.115.346.386.617.732.732l.774.258a.145.145 0 0 1 0 .274l-.774.258a1.16 1.16 0 0 0-.732.732l-.258.774a.145.145 0 0 1-.274 0l-.258-.774a1.16 1.16 0 0 0-.732-.732L9.1 2.137a.145.145 0 0 1 0-.274l.774-.258c.346-.115.617-.386.732-.732z"/>
</svg></span>
                <span class="favoritos-badge" *ngIf="cantidadFavoritos > 0">{{ cantidadFavoritos }}</span>
            </a>
        </li>
        <li *ngIf="!isMobile && !isTablet">|</li>
        <li [class.active]="isActive('mis-pedidos')">
            <a routerLink="/mis-pedidos">
                <span *ngIf="!isMobile && !isTablet">Mis Pedidos</span>
                <span *ngIf="isMobile || isTablet" class="nav-icon material-symbols-rounded">orders</span>
            </a>
        </li>
    </ul>
        
    <a routerLink="/inicio"><img src="images/Logo final.png" class="logo"></a>

    <ul class="ulRight">
        <li [class.active]="isActive('carrito')">
            <a routerLink="/carrito" class="carrito-link">
                <span *ngIf="!isMobile && !isTablet">Carrito</span>
                <span *ngIf="isMobile || isTablet" class="nav-icon material-symbols-rounded">shopping_cart</span>
                <span class="carrito-badge" *ngIf="cantidadCarrito > 0">{{ cantidadCarrito }}</span>
            </a>
        </li>
        <li *ngIf="!isMobile && !isTablet">|</li>
        <li [class.active]="isActive('contacto')">
            <a routerLink="/contacto">
                <span *ngIf="!isMobile && !isTablet">Contacto</span>
                <span *ngIf="isMobile || isTablet" class="nav-icon material-symbols-rounded">phone</span>
            </a>
        </li>
        <li *ngIf="!isMobile && !isTablet">|</li>
        <li [class.active]="isActive('perfil')">
            <a routerLink="/perfil">
                <span *ngIf="!isMobile && !isTablet">Mi Perfil</span>
                <span *ngIf="isMobile || isTablet" class="nav-icon material-symbols-rounded">person</span>
            </a>
        </li>
    </ul>
</header>

<!--Navbar Administrador-->
<header *ngIf="validRoute && isAdmin" class="admin-header">
    <ul>
        <li [class.active]="isActive('stock')">
            <a routerLink="/stock">
                <span *ngIf="!isMobile && !isTablet">Stock</span>
                <span *ngIf="isMobile || isTablet" class="nav-icon material-symbols-rounded">inventory_2</span>
            </a>
        </li>
        <li *ngIf="!isMobile && !isTablet">|</li>
        <li [class.active]="isActive('agregarProducto')">
            <a routerLink="/agregarProducto">
                <span *ngIf="!isMobile && !isTablet">Agregar Productos</span>
                <img *ngIf="(isMobile || isTablet) && color == 'azul'" src="images/home azul.png">
                <img *ngIf="(isMobile || isTablet) && color == 'blanco'" src="images/home blanco.png">
            </a>
        </li>
        <li *ngIf="!isMobile && !isTablet">|</li>
        <li [class.active]="isActive('calculadoraResina')">
            <a routerLink="/calculadoraResina">
                <span *ngIf="!isMobile && !isTablet">Calculadora Resina</span>
                <img *ngIf="(isMobile || isTablet) && color == 'azul'" src="images/expensas azul.png">
                <img *ngIf="(isMobile || isTablet) && color == 'blanco'" src="images/expensas blanco.png">
            </a>
        </li>
        <li *ngIf="!isMobile && !isTablet">|</li>
        <li [class.active]="isActive('recursos')">
            <a routerLink="/recursos">
                <span *ngIf="!isMobile && !isTablet">Recursos</span>
                <span *ngIf="isMobile || isTablet" class="nav-icon">🧰</span>
            </a>
        </li>
    </ul>
        
    <a routerLink="/inicioAdministrador"><img src="images/Logo final.png" class="logo"></a>

    <ul class="ulRight">
        <li [class.active]="isActive('ventas')">
            <a routerLink="/ventas">
                <span *ngIf="!isMobile && !isTablet">Ventas</span>
                <img *ngIf="(isMobile || isTablet) && color == 'azul'" src="images/contactos azul.png">
                <img *ngIf="(isMobile || isTablet) && color == 'blanco'" src="images/contactos blanco.png">
            </a>
        </li>
        <li *ngIf="!isMobile && !isTablet">|</li>
        <li [class.active]="isActive('compras')">
            <a routerLink="/compras">
                <span *ngIf="!isMobile && !isTablet">Compras</span>
                <img *ngIf="(isMobile || isTablet) && color == 'azul'" src="images/contactos azul.png">
                <img *ngIf="(isMobile || isTablet) && color == 'blanco'" src="images/contactos blanco.png">
            </a>
        </li>
        <li *ngIf="!isMobile && !isTablet">|</li>
        <li [class.active]="isActive('pedidos')">
            <a routerLink="/pedidos">
                <span *ngIf="!isMobile && !isTablet">Pedidos</span>
                <img *ngIf="(isMobile || isTablet) && color == 'azul'" src="images/contactos azul.png">
                <img *ngIf="(isMobile || isTablet) && color == 'blanco'" src="images/contactos blanco.png">
            </a>
        </li>
        <li *ngIf="!isMobile && !isTablet">|</li>
        <li [class.active]="isActive('clientes')">
            <a routerLink="/clientes">
                <span *ngIf="!isMobile && !isTablet">Clientes</span>
                <span *ngIf="isMobile || isTablet" class="nav-icon">👥</span>
            </a>
        </li>
    </ul>
</header>

<canvas id="particle-canvas-square" *ngIf="validRoute"></canvas>