<div id="container">
    <h1>Iniciar Sesión</h1>
    <div class="card">
        <div id="form">
            <form id="loginForm" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div>
                    <label for="dni" id="dni">DNI</label>
                    <input type="text" name="dni" id="dni" formControlName="dni" required>
                    <div *ngIf="loginForm.get('dni')?.invalid && loginForm.get('dni')?.touched" id="error">
                        El DNI es obligatorio
                    </div>
                </div>
                <div>
                    <label for="password" id="password">Contraseña</label>
                    <input type="password"  name="password" id="password" formControlName="password" required>
                    <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" id="error">
                        La contraseña es obligatoria
                    </div>
                </div>
                <button type="submit" [disabled]="loginForm.invalid">Iniciar Sesión</button>
            </form>
        </div>
    </div>
</div>

<canvas id="particle-canvas-square-inicio"></canvas>

<!--El usuario se registra correctamente-->
<app-popupLogin *ngIf="popup == 'success'"></app-popupLogin>

<!--Contraseña incorrecta-->
<app-popupError *ngIf="popup == 'contraseñaIncorrecta'" text="Contraseña incorrecta" textAux="Por favor ingrese la contraseña nuevamente" [closePopup]="close.bind(this)"></app-popupError>

<!--DNI no registrado-->
<app-popupError *ngIf="popup == 'fail'" text="El DNI no se encuentra registrado" textAux="Por favor verifique el DNI o registrelo" [closePopup]="close.bind(this)"></app-popupError>