h1 {
    margin-top: 0px;
}

.form {
    display: flex;   
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 20px;
    align-items: flex-end;
    gap: 10px;
}

.form div {
    width: 100%;
    flex-direction: column;
    flex: 1 1 calc(20% - 10px); /* 5 columnas para escritorio */
    min-width: 150px; /* Para asegurarse que los inputs no se hagan demasiado pequeños */
}

input[type="file"] {
    display: none;
}

label#imagen {
    width: calc(100% - 6px - 60px);
    height: 100%;
    display: flex;
    justify-content: center;
    background-color: #000447;
    color: #E4EFE9;
    border-radius: 10px;
    border: 3px solid #000447;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    padding: 6px 30px;
    margin: 0px 0px 10px 0px;
    cursor: pointer;
    text-align: center;
}

label#imagen:hover {
    transition-duration: 0.3s;
    box-shadow: 0px 0px 20px 5px rgba(95, 95, 95, 0.4);
    background-color: #080e81;
    border: 3px solid #080e81;
}

label#imagen:disabled {
    background-color: #1d1d1d;
    color: #919191;
    cursor: default;
    border: 3px solid #1d1d1d;
    box-shadow: none;
}

label#imagen:active {
    background-color: #E4EFE9;
    box-shadow: 0px 0px 20px 5px rgba(95, 95, 95, 0.4);
    color: #080e81;
    transition: none 0.3s;
    border: 3px solid #080e81;
}