/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: 'Allysa';
    src: url('../public/fonts/Allysa\ Daguise.ttf')  format('truetype')
}

html {
    margin: 0px;
    width: 100%;
    height: 100%;
    font-family:'Inter', sans-serif;
    letter-spacing: 1px;
    font-size: 16px;
    background-image: url('../public/images/background.png');
    background-size: contain;
    background-attachment: fixed;
    color: #000447;
}

body {
    margin: 0px;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Dancing Script';
    font-size: 70px;
}

button {
    appearance: none;
    width: 100%;
    background-color: #000447;
    color: #E4EFE9;
    border-radius: 10px;
    border: 3px solid #000447;
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    font-family:'Inter', sans-serif;
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 2px;
    list-style: none;
    padding: 6px 30px;
    position: relative;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    word-wrap: break-word;
    margin: 10px 0px;
}

button:hover {
    transition-duration: 0.3s;
    box-shadow: 0px 0px 20px 5px rgba(95, 95, 95, 0.4);
    background-color: #080e81;
    border: 3px solid #080e81;
}

button:disabled {
    background-color: #1d1d1d;
    color: #919191;
    cursor: default;
    border: 3px solid #1d1d1d;
    box-shadow: none;
}

button:active {
    background-color: #E4EFE9;
    box-shadow: 0px 0px 20px 5px rgba(95, 95, 95, 0.4);
    color: #080e81;
    transition: none 0.3s;
    border: 3px solid #080e81;
}

.card {
    padding: 20px;
    background-image: radial-gradient(rgba(240, 234, 76, 0.6), rgba(200, 150, 41, 0.6)), radial-gradient(white, white);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

input, textarea {
    width: calc(100% - 4px - 20px);
    border: 2px solid #000447;
    border-radius: 10px;
    padding: 10px;
    color: #000447;
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 14px;
    min-width: 150px;
}

label { 
    margin: 0px 0px 5px 10px;
    color: #000447;
    top: 5px;
    font-size: 14px;
    font-weight: 500;
}

input:hover, textarea:hover, select:hover {
    background-color: rgba(214, 180, 53, 0.4);
    box-shadow: 0px 0px 10px 1px rgba(0, 4, 71, 0.2);
}

input:focus, textarea:focus, select:focus {
    background-color: rgba(214, 180, 53, 0.4);
    box-shadow: 0px 0px 10px 1px rgba(0, 4, 71, 0.2);
    outline:none;
}

input::placeholder {
    color: rgba(0, 4, 71, 0.5);
}

input.filled, select.filled {
    background-color: rgba(214, 180, 53, 0.4);
}

select {
    cursor: pointer;
    width: 100%;
    height: calc(100% - 4px - 20px);
    border: 2px solid #000447;
    border-radius: 10px;
    padding: 8px;
    color: #000447;
    font-weight: bold;
    background-color: transparent;
    margin-bottom: 10px;
    font-size: 14px;
    min-width: 150px;
}

textarea, input[type="date"] {
    height: 16px;
    font-family:'Inter', sans-serif;
}

@media (max-width: 450px) {
    html {
        font-size: 14px;
    }

    h1 {
        font-size: 35px;
        margin-bottom: 15px;
    }
    
    button {
        font-size: 16px;
        padding: 5px 20px;
        margin: 8px 0px;
    }

    .card {
        padding: 15px;
    }

    input, textarea {
        font-size: 12px;
        padding: 8px;
        margin-bottom: 8px;
        width: calc(100% - 4px - 16px);
        min-width: 100px;
    }

    label {
        font-size: 12px;
        margin: 0px 0px 4px 8px;
        top: 4px;
    }

    select {
        font-size: 12px;
        padding: 6px;
        width: calc(100% - 4px - 16px);
        margin-bottom: 8px;
        min-width: 100px;
    }

    textarea, input[type="date"] {
        height: 14px;
    }
} 